<!DOCTYPE html>
<html lang="en">
{{> partials/head}}
<body>
<div id="container"></div>
<div id="topbar"></div>

<script src="js/deck.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
<h1>Texas Hold'em</h1>
{{#login}}
<input type="text" name="username"/>
<input type="text" name="password"/>
<button type="submit" name="login">Login</button>
<button type="submit" name="register">register</button>
{{/login}}



</body>
</html>
